
.plants-body {
    display: grid;
    background-color: yellow;
    /* height: 500px;
    width: 500px; */
    color: red;
    text-transform: capitalize;
    font-size: 50px;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    gap: 10px;

}